body {
    margin: 0;
}

#logo-img{
    padding: 5px 50px;
    width: 100%;
    background-color: #1b7895;
}

#dropdown-menu{
    padding: 40px 30px; 
    display:inline-block;
}

#graph-1, #graph-2, #graph-3, #graph-4{
    padding: 35px 60px; 
}

#ano, #ano2, #ano3, #ano4{
    position: left;
    width: 96%;
    margin: 5px -18px; 
}